*

!README.md
!.gitignore

!HW1/
HW1/**

!HW1/codes/
!HW1/codes/**
!HW1/notes/
!HW1/notes/**

!mid_term/
mid_term/**
!mid_term/codes/
!mid_term/codes/**
!mid_term/figs/
!mid_term/figs/**
!mid_term/misc/
!mid_term/misc/**